/*
 * Name: Skyler Millburn
 * Date: 9/19/2021
 * Assignment: bioSite
*/

html{ height: 100%;}
body{
    margin: 0;
    font-family: 'Noto Sans', 'Oswald', Verdana, Arial, sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header{
    padding: 10px;
    text-align: center;
    background-color: #48E5C2;
    color:#32533D;
    height: 80px;
}

h1{
    font-weight: 400;
}

#navbar{ 
    overflow: hidden;
    border-bottom: solid 5px #9E2B25;
    background-color: #48E5C2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 30%;
    padding-left: 30%;
    height: 50px;
}

#navbar a{
    color: #32533D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover{
    background-color: #9E2B25;
    color:#48E5C2;
}

.ribbon-left{
    background-image: linear-gradient(to right, #5299D3, white);
    width: 100%;
}

.ribbon-right{
    background-image: linear-gradient(to left, #5299D3, white);
    width: 100%;
}

#container{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
    overflow: auto;
}

.main-content{
    overflow:auto;
    width: 300%;
    text-align: center;
    padding-bottom: 10px;
    min-width: 450px;
    max-width: 900px;
}

#bio {
    min-width: 400px;
    max-width: 700px;
    margin: auto;
    padding-top: 40px;
}

.hobby-desc {
    min-width: 300px;
    max-width: 700px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.hobby-item {
    padding: 10px 20px;
}

.hobby-header1{
    text-align:center;
}
.hobby-header2{
    text-align:center;
}

img{
    width: 300px;
    height: 400px;
}

.image-alt{
    height: 150px;
    width: 600px;
}

.image-hobby{
    height: 200px;
    width: 200px;
}

.hobby-fig {
    margin: auto;
    padding: 20px
}

footer {
    background-color: #48E5C2;
    width: 100%;
    font-style: italic;
    font-weight: 400;
    min-height: 50px;
    flex: none
}

footer p{
    float: right;
    color:#32533D;
    width: 100%;
}

a{
    text-decoration: none;
    color:#32533D;
}
a:hover{
    text-decoration: underline;
}


